html{
  scroll-behavior: smooth;
  body{
    color: $black;
    margin: 0;
    h2{
      font-family: Alice, sans-serif;
      text-transform: uppercase;
    }
    p{
      font-family: Roboto, sans-serif;
    }
  }
}